.main-card-details-screen-page{
    padding: 50px;
    background-color: #BAF56E;
    margin: 60px;
    margin-top: 130px;
    border-radius: 50px;
}
.card-container-card-details-screen{
    display: flex;
    
}

.content-card-details-screen{
    font-size: 20px;
    padding: 30px;
}

.image-card-details-screen{
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.card-details-screen-button-div {
    display: flex;
    margin: 20px;
    justify-content: center;
    padding: 10px;
    padding-left: 200px;
}

.card-details-screen-button-div button{
    padding: 10px;
    border-radius: 15px;
    background-color:  #8758FF;
    font-size: 20px;
    color: aliceblue;
    font-weight: 700;
    border-color: aliceblue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card-details-screen-button-div-i{
    margin-right: 200px;
}