.contributor-dashboard-main-class {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
  }
  
  .contributor-dashboard-main-class-btn {
    display: flex;
    justify-content: center;
  }
  
  .contributor-active-research-btn {
    margin-right: 1.5rem;
  }
  
  .contributor-active-research-btn,
  .contributor-request-status-btn {
    background-color: #8758FF;
    border-radius: 100px;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 18px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 250px;
    height: 60px;
    color: white;
  }
  
  .contributor-active-research-btn:hover,
  .contributor-request-status-btn:hover {
    transform: scale(1.05);
  }
  
  .contributor-active-research-btn.active,
  .contributor-request-status-btn.active {
    background-color: #6440d6;
  }
  
  .contributor-dashboard-main-class-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 100px;
  }
  
  .contributor-dashboard-main-class-title {
    padding: 13px;
    border-radius: 15px;
    background-color: black;
    color: white;
  }
  