.card-body-request-status {
  font-size: 20px;
  height: 300px;
  padding: 30px;
  border-radius: 2rem;
  width: 350px;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  vertical-align: top;
  text-align: left;
}

.card-request-status {
  display: flex;
  margin: 15px;
  border-radius: 2rem;
}

.contribute-btn-request-status {
  margin-top:0px; 
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.card-body-request-status::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 350px;
  height: 250px;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease-in-out;
}

.card-display-request-status{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin:15px;
  margin-bottom: 20px;
  border-radius: 2rem;
}

.card-text-request-status{
  width: 350px;
  font-size: 15px;
  padding: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.input-request-status{
  font-size: 12px;
  margin: 10px;
  width: 250px;
  border: 0.2px solid black;
  border-radius: 10px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}